/*
    DATE: 17 April 2017 - Monday
    DEVELOPER: Adebanke Alabi (bukiwebsites@gmail.com)
    DESCRIPTION: My custom styles for the dashboard, separate from material styling
*/


/******************** FONT SECTION ********************/
@font-face{
    font-family: com4t;
    src: url(../fonts/com4t/com4t.ttf);
}

@font-face{
    font-family: sans-serif;
    src: url(../fonts/riesling/riesling.ttf);
}

.com4t{
    font-family: com4t, sans-serif;
}

.riesling{
    font-family: riesling, sans-serif;
}

html{
    font-family: com4t, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: riesling, sans-serif;
    color: #666;
}

/******************** LOGO STYLES ********************/
$logoHeight: 50px;

.logoArea{
    clear: both;
    width: 50%;
    margin: 0 auto;

    h1{
        display: inline;
        font-size: $logoHeight;
    }

    .logo{
        height: $logoHeight* 0.60;
        display: inline;
        margin-left: 5px;
        margin-bottom: $logoHeight * -0.15;
    }
}

/******************** GRID PLAYTIME ********************/
.container{
    border: 1px solid #ccc;
}

.row{
    text-align: center;
}

.col{
    /*background-color: #45b8a0;
    color: white;
    font-size: 25px;
    border: 1px solid white;*/
    padding: 40px;
}

p{
    font-size: 20px;
}
